{% extends 'notFootter_base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <div id="breadcrumbs" class="breadcrumbs intro-page" >
        <div style="text-align:center;">
            <div style="margin:4rem 0rem;"><br></div>
            <h2 style="font-family:NanumSquareR;font-size:2rem;">공지사항</h2>
            <div style="margin:1rem 0rem;"><br></div>
            <div style= "float:right;">
                <form method="POST", action="/app/contentsapp/notice/">
                    {% csrf_token %}
                    <input type="submit" value="글쓰기" name="write">
                </form>
            </div>
            <div style="margin:1rem 0rem;"><br></div>
        </div>
        <div class="accordion p-3" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne" style="font-family: 'NanumSquareEB'; text-align:center;">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  테스트
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                  웹페이지 테스트 중입니다.
                </div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo" style="font-family: 'NanumSquareEB'; text-align:center;">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    테스트 중
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    테스트
                  </div>
                </div>
              </div>
        </div>
    <div>
</main>
{% endblock %}