{% extends 'notFootter_base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <!-- 랩실 소개-->
    <div id="breadcrumbs" class="breadcrumbs intro-page">
        <div style="margin:4rem 0rem;"><br></div>
        <h2 style="font-family:NanumSquareR;font-size:1.5rem;color:#ED502E;">랩실소개</h2>
        <div style="margin:0rem 0rem;"><br></div>
        <div class = "intro_lab_contents_box">
            <h2 style="font-family:NanumSquareR;font-size:1.1rem;" >안녕하세요. 환영합니다 :)<br>
            저희 DaiS Lab실은 이수동 교수님 지도 하에 랩실 인원끼리 다양한 정보를 공유하고 배우며 프로젝트를 통해 한 단계 성장할 수 있는 랩실입니다.
            </h2>
        </div>
        <div style="margin:1rem 0rem;"><br></div>

        
        <!-- 교수님 소개-->
        <h2 style="font-family:NanumSquareR;font-size:1.5rem;color:#ED502E;margin:0rem 0rem;">교수님 소개</h2>
        <div style="margin:0.5rem 0rem;"><br></div>
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-professor" style="float: left; height:150px;display:inline-block;background-size:340%; background-position:30% 55%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 이수동</h2>
                    <p>울산대학교 내에서 데이터 분석 문화를 만들고 있습니다.</p>
                    <ul style="font-size:8px;margin-top:1rem;">
                        <h2 style="font-size:13px;"> 경험</h2>
                        <li> 2018년 3월 - 2019년 11월, SK 하이닉스, 데이터 사이언스 수석 관리자, 대한민국 이천</li>
                        <li> 2019. 12. ~ 2020. 08. 대전 한국원자력연구원 지능컴퓨팅연구소 선임연구원</li>
                        <li> 2018년 3월 - 2019년 11월, SK 하이닉스, 데이터 사이언스 수석 관리자, 대한민국 이천</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div style="margin:1rem 0rem;"><br></div>
        <!-- 멤버 소개 -->
        <!-- 대학원생 -->
        <h2 style="font-family:NanumSquareR;font-size:1.5rem;color:#ED502E;margin:0rem 0rem;">멤버소개</h2>
        <div style="margin:0rem 0rem;"><br></div>
        <div class="intro_lab_circle" style="display:inline-block;padding:0.35rem 0 0.6rem 0.25rem;margin-left:2rem;"> </div>
        <h2 style="display:inline-block;font-size:1.3rem;margin-bottom:1rem;margin-left:0.5rem;font-family:NanumSquareR;">대학원생</h2>

        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-shashank" style="float: left; height:150px;display:inline-block;background-size:150%; background-position:33% 34%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 샤상크(shashank)</h2>
                    <p>안녕하세요<br>저는 공정 계획 및 제어 분야에서 일한 경험이 있는 숙련된 산업 엔지니어. ERP, 계측 및 기계 유지 보수에 능숙합니다. Industrial 4.0과 함께 인공 지능에 중점을 둔 석사 학위를 추구하는 강력한 엔지니어링 전문가이며, 첨단 산업 데이터 분석으로 데이터 과학 세계의 지평을 확장하고자 합니다.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- 학부생 -->
        <!-- 승아 -->
        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="intro_lab_circle" style="display:inline-block;padding:0.35rem 0 0.6rem 0.25rem;margin-left:2rem;"> </div>
        <h2 style="display:inline-block;font-size:1.3rem;margin-bottom:1rem;margin-left:0.5rem;font-family:NanumSquareR;">학부생</h2>
        
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-seung" style="float: left; height:150px;display:inline-block;background-size:400%; background-position:18.5% 50%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 남궁승아(산업공학부)</h2>
                    <p>안녕하세요.<br>저는 누구이며 어느 공부에 관심있습니다.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- 소윤 -->
        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-soyun" style="float: left; height:150px;display:inline-block;background-size:500%; background-position:75% 50%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 정소윤(산업공학부)</h2>
                    <p>안녕하세요.<br>저는 누구이며 어느 공부에 관심있습니다.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- 인수 -->
        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-shashank" style="float: left; height:150px;display:inline-block;background-size:150%; background-position:33% 34%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 최인수(조선해양)</h2>
                    <p>안녕하세요.<br>저는 누구이며 어느 공부에 관심있습니다.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- 연성 -->
        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-shashank" style="float: left; height:150px;display:inline-block;background-size:150%; background-position:33% 34%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 전연성(조선해양)</h2>
                    <p>안녕하세요.<br>저는 누구이며 어느 공부에 관심있습니다.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- 태연 -->
        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-shashank" style="float: left; height:150px;display:inline-block;background-size:150%; background-position:33% 34%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 김태연(IT융합)</h2>
                    <p>안녕하세요.<br>저는 누구이며 어느 공부에 관심있습니다.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- 예린 -->
        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-shashank" style="float: left; height:150px;display:inline-block;background-size:150%; background-position:33% 34%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 박예린(???)</h2>
                    <p>안녕하세요.<br>저는 누구이며 어느 공부에 관심있습니다.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- 예린 -->
        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-shashank" style="float: left; height:150px;display:inline-block;background-size:150%; background-position:33% 34%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 김동빈(???)</h2>
                    <p>안녕하세요.<br>저는 누구이며 어느 공부에 관심있습니다.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- 예린 -->
        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-shashank" style="float: left; height:150px;display:inline-block;background-size:150%; background-position:33% 34%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 김선영(???)</h2>
                    <p>안녕하세요.<br>저는 누구이며 어느 공부에 관심있습니다.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>


        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="intro_lab_circle" style="display:inline-block;padding:0.35rem 0 0.6rem 0.25rem;margin-left:2rem;"> </div>
        <h2 style="display:inline-block;font-size:1.3rem;margin-bottom:1rem;margin-left:0.5rem;font-family:NanumSquareR;">졸업생</h2>
        <!-- 종원 -->
        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-jongwon" style="float: left; height:150px;display:inline-block;background-size:500%; background-position:33% 34%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 김종원(IT융합)</h2>
                    <p>안녕하세요.<br> AI 서비스 개발자를 꿈꾸고 있는 개발자이며, 배운만큼 배풀고 싶은 개발자, 도움이 될만한 것을 찾아 행동하고 실행하는 개발자입니다.</p>
                </div>
                <div><br></div>
                <a href="#" style="text-decoration-line : none;" >포트폴리오</a>
                <div class="clear"></div>
            </div>
        </div>
        <!-- 동주 -->
        <div style="margin:0rem 0rem;margin-top:1rem;"><br></div>
        <div class="item-lists">
            <div class="item">
                <div class="intro_picture-shashank" style="float: left; height:150px;display:inline-block;background-size:150%; background-position:33% 34%;margin:0.2rem 1rem;margin-right:3rem;"></div>
                <div>
                    <h2>이름 : 박동주(산업공학부)</h2>
                    <p>안녕하세요.<br> AI 서비스 개발자를 꿈꾸고 있는 개발자이며, 배운만큼 배풀고 싶은 개발자, 도움이 될만한 것을 찾아 행동하는 개발자입니다.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</main>
{% endblock %}