{% extends 'notFootter_base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <!-- 랩실 소개-->
    <div id="breadcrumbs" class="breadcrumbs intro-page">
        <div style="margin:4rem 0rem;"><br></div>
            <h2 style="font-family:NanumSquareR;font-size:2.2rem;color:#ED502E;">랩실소개</h2>
        <div style="margin:0rem 0rem;"><br></div>
        <div class = "intro_lab_contents_box">
            <h2>랩실 소개입니다.</h2>
        </div>
        <div style="margin:1rem 0rem;"><br></div>
        
        <!-- 교수님 소개-->
        <div>
            <h2 style="font-family:NanumSquareR;font-size:2.2rem;color:#ED502E;">교수님 소개</h2>
        </div>
        <div style="margin:0rem 0rem;"><br></div>
        <div class = "intro_lab_member_box">
            <div class="intro_picture-professor" style="display:inline-block;background-size:340%; background-position:30% 55%;">
            </div>
        </div>

        <!-- 멤버 소개-->
        <div style="margin:1rem 0rem;"><br></div>
        <div>
            <h2 style="font-family:NanumSquareR;font-size:2.2rem;color:#ED502E;margin:1rem 0rem;">멤버 소개</h2>
        </div>
        <div style="margin:0rem 0rem;"><br></div>
        <div class="intro_lab_circle" style="display:inline-block;padding:0.35rem 0 0.6rem 0.25rem;margin-left:2rem;"> </div>
        <h2 style="display:inline-block;font-size:1.3rem;margin-bottom:1rem;margin-left:0.5rem;font-family:NanumSquareR;">대학원생</h2>
        
        <div class = "intro_lab_member_box" style = "position: static;">
            <div class="intro_picture-shashank" style="position: absolute;display:inline-block;background-size:150%; background-position:33% 34%;">
            </div>
            <div style="position: absolute; left:3rem; border: 2px solid black;">
                <div style="display:inline-block;">
                    이름
                </div>
                <div style="display:inline-block;">
                    내용
                </div>
            </div>
        </div>

        <div class="item-list">
            <h1>추천강좌</h1>   
            <div class="item">
                <img src ="../../../static/assets/img/단체샷.jpg" alt="">
            </div>
        </div>


    </div>
    <!-- 학부생 -->
    <!-- 종원 -->
    {% comment %} <div style="margin:0rem 0rem;"><br></div>
    <div class="intro_lab_circle" style="display:inline-block;padding:0.35rem 0 0.6rem 0.25rem;margin-left:2rem;"> </div>
    <h2 style="display:inline-block;font-size:1.3rem;margin-bottom:1rem;margin-left:0.5rem;font-family:NanumSquareR;">학부생</h2>
    <div class = "intro_lab_member_box" style="display:inline-block;">
        <div class="intro_picture-jongwon" style="display:inline-block;background-size:500%; background-position:33% 34%;">
        </div>
        <div style="display:inline-block; width: 24%;margin:1rem 1rem; height: 60%; border: 2px solid black;postion:relative;">
            <div style="position: absolute;width:100%;">
                <p style="display:inline-block; position: absolute;font-family:NanumSquareEB;font-size:1.8rem;margin:1rem">이름 : </p>
                <p style="display:inline-block; position: absolute;font-family:NanumSquareEB;font-size:1.8rem;margin:1rem 6.5rem;"> 김종원</p>
            </div>
            <div style="position: absolute;width:90%;height:90%;margin:1rem">
                <p style="display:block;width:60%; word-wrap:break-word; position: absolute;font-family:NanumSquareR;font-size:1.3rem;margin-top:3.5rem;">안녕하세요.<br>
                    AI 서비스 개발자를 꿈꾸고 있는 개발자이며, 배운만큼 배풀고 싶은 개발자, 도움이 될만한 것을 찾아 행동하는 개발자입니다.
                </p>
            </div>
        </div>
    </div> {% endcomment %}




</main>
{% endblock %}