{% extends 'notFootter_base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <div id="breadcrumbs" class="breadcrumbs intro-page" >
        <div style="text-align:center;">
            <div style="margin:4rem 0rem;"><br></div>
            <h2 style="font-family:NanumSquareR;font-size:2rem;">공지사항</h2>
            <div style="margin:1rem 0rem;"><br></div>
            <div style= "float:right;">
                <form method="POST", action="/app/contentsapp/notice/">
                    {% csrf_token %}
                    <input style="border: 1px solid #ED502E;color: white;background: #ED502E;width: 5rem;border-radius: 3rem;" type="submit" value="글쓰기" name="write">
                </form>
            </div>
            <div style="margin:1rem 0rem;"><br></div>
        </div>
        <div class="accordion p-3" id="accordionExample">
          {% for data in DB %}
            <div class="accordion-item">
              <h2 class="accordion-header" id={{data.head_name}} style="font-family: 'NanumSquareEB'; text-align:center;">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target={{data.head_id_name}} aria-expanded="false" aria-controls={{data.id_name}}>
                  {{data.title}}
                </button>
              </h2>
              <div id={{data.id_name}} class="accordion-collapse collapse" aria-labelledby={{data.head_name}} data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                  {{data.contents}}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
  <div>
</main>
{% endblock %}