{% extends 'notFootter_base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <div id="breadcrumbs" class="breadcrumbs intro-page" >
        <div style="text-align:center;">
            <div style="margin:4rem 0rem;"><br></div>
            <h2 style="font-family:NanumSquareR;font-size:2rem;">글쓰기<br></h2>
            <p style="font-family:NanumSquareR;font-size:1rem;">공지사항</p>
        </div>
        <div style="width:100%;">
            <form class="was-validated p-3" action="/app/contentsapp/notice/write/" method="POST">
                {% csrf_token %}
                {% if messages %}
                    <div class="alert alert-danger"  style = "text-align:center;" role="alert">
                        {% for message in messages %}
                            {{ message.message }}
                        {% endfor %}
                    </div>
                {% else %}
                    <div style="margin:1rem 0rem;"><br></div>
                {% endif %}
                <div class="mb-3 col-md-7" style="float: none; margin:1rem:0rem;width:100%;height:3rem;">
                    <label style="float:left;width:20%;text-align: center;font-family:NanumSquareEB;padding-top: 0.25rem;" for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">제목</label>
                    <textarea style="float:right;width:80%;height:1.5rem;" class="form-control is-invalid" id="validationTextarea" name="title" placeholder="제목을 기입해주세요." ></textarea>
                </div>
                <div class="mb-3 col-md-7" style="float: none; margin:0 auto;width:100%;height:11rem;">
                    <label  style="float:left;width:20%;text-align: center;font-family:NanumSquareEB;padding-top: 0.25rem;" for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">내용</label>
                    <textarea style="float:right;width:80%;height:10rem;" class="form-control is-invalid" id="validationTextarea"name="contents"  placeholder="내용을 기입해주세요." ></textarea>
                </div>
                <div class="mb-5 col-md-7 mt-5 text-center" style="float: none; margin:0 auto;width:100%;">
                    <input class="btn btn-success mx-3" style="font-family:NanumSquareR;border-color: #198754;"  method="POST" type="submit" name="before" value="이전">
                    <input class="btn btn-success" style="font-family:NanumSquareR;border-color: #198754;"  method="POST" type="submit" name="finish" value="완료">
                </div>
            </form>
        </div>
    <div>
</main>
{% endblock %}