{%load static%}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#" style="font-family:NanumSquareEB;">Dais Open Lab</a></h1>
      <nav id="navbar" class="navbar">
        <div style="text-align: center;">
          <ul style="display:inline-blcok;">
            <li><a class="nav-link scrollto" style="font-family:NanumSquareEB;" href="#about">랩실소개</a></li>
            <li><a class="nav-link scrollto" style="font-family:NanumSquareEB;" href="#about">meetup</a></li>
            <li><a class="nav-link scrollto" style="font-family:NanumSquareEB;" href="#services">랩실자랑</a></li>
            <li><a class="nav-link scrollto " style="font-family:NanumSquareEB;" href="#portfolio">학습자료</a></li>
            <li><a class="nav-link scrollto" style="font-family:NanumSquareEB;" href="#team">공지사항</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </div>
      </nav><!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul style="display:inline-blcok;">
          <li><a class="nav-link scrollto " style="font-family:NanumSquareEB;" href="#portfolio">로그인</a></li>
          <li><a class="nav-link scrollto" style="font-family:NanumSquareEB;" href="#team">회원가입</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->